Library
/Assets/VSCode
test_Data
/ProjectSettings
/.vscode/launch.json
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assets/VSCode.meta
/Svelto.Tasks.sln
/output_log.txt
/test.exe
Temp
/Svelto.Tasks.CSharp.Plugins.csproj
/Svelto.Tasks.CSharp.csproj
/Svelto.Tasks.v11.suo
/*.csproj
/Assets/Plugins/Svelto/**/*.meta
/.vs/Svelto.Tasks/v14/*.suo
/.vs/Svelto.Tasks/v15
/UnityPackageManager/manifest.json
